* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: Trebuchet MS;
	box-sizing: border-box;
	color: black;
}
.principal_div {
	margin :3%;
}
p {
	margin : 10px 0;
}
a {
	padding : 5px;
}
a:hover {
    transition: 1s;
    color: green;
}
span {
	height: 20px;
	text-align: center;
    width : 14%;
	display: inline-block;
}